/app/cache
/app/config/parameters.yml
/app/cov
/app/logs
/app/bootstrap*
/content
/vendor
/nbproject*
/.settings
/.project
/.buildpath
*.*~

/web/assets
/web/bundles
/web/static/css
/web/static/js

.DS_Store
.git